.team {
  background: url("https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHBlb3BsZSUyMHNtaWxpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-cover {
  background: linear-gradient(#02050381, #020f08a0),
    url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fG9mZmljZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.rule {
  height: 2px;
  color: #f2f4fd;
}

.approach {
  background: url("https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHBlb3BsZSUyMHNtaWxpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.breaker {
  background: linear-gradient(#080b222b, #282e5e2d),
    url("../../assets/images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.process {
  background: url("../../assets/images/greybg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.process-card {
  background: linear-gradient(#0000005f, #00000093),
    url("https://images.unsplash.com/photo-1628348068343-c6a848d2b6dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-cover {
  transition: all 150ms ease;
}

.project-cover:hover {
  /* background: #ececec; */
}
